 
	<p class="c1">
		<span>When you have selected an airport, you are presented with a list of runways.</span>
	</p>
	
	<p class="c0"><span></span></p>
	<p class="c1"><span class="c4">Runways</span></p>
	
	<p class="c1"><span>There are 3 options you can do with existing runways, but </span>
	<span class="c2">please note </span>
	<span>that you must highlight one first to do anything with them.</span></p>
	
	<p class="c1">
		<span class="c2">Deletion</span>
		<span>&nbsp;is self explanatory, it deletes the runway from the system entirely. You cannot retrieve the runway once it&rsquo;s deleted.</span>
	</p>
	
	<p class="c1">
		<span class="c2">Edit</span>
		<span>&nbsp;lets you change some of the default parameters of the runway, such as its name and thresholds.</span>
	</p>
	
	<p class="c1">
		<span class="c2">View</span>
		<span>&nbsp;takes you the main screen where the visualisation of the runway is shown, along with the option of adding/removing obstacles.</span>
	</p>
	
	<p class="c0"><span></span></p>
	<p class="c1">
		<span>An option to </span>
		<span class="c2">add</span>
		<span>&nbsp;runways is also present, and allows you to add a completely new runway.</span>
	</p>
	
	<p class="c1">
		<span>There are additionally two saving options. One to save to the airport file that it was loaded from, and the second to save to a completely new file.</span>
	</p>
	
	<br /><br />
	<img src="https://bytebucket.org/seg_project/seg_project.bitbucket.org/raw/master/resources/airportview.png" height="310" width="481">
	<br />
	<ol type="1">
	  <li>These are specific runway options. You can edit the parameters of the runway or delete it from the system. Also, you can view the runway which takes you to the man display view.</li>
	  <li>The saving options. You can save to the existing file or create a new file in which to store this airport.</li>
	  <li>Displays the list of all runways currently in the airport</li>
	</ol>
	
 