      <p class="c0 c4"><span class="c2">Runway Check</span></p>
      <p class="c0 c5"><span></span></p>
      <p class="c0"><span class="c1">What is the application?</span></p>
      <p class="c0"><span class="c3">Runway Check</span><span>&nbsp;is a simple to use yet powerful tool to perform the calculation of runway parameters. When obstacles block parts of the runway, an official redeclaration of safe parameters to use must be undertaken.</span></p>
      <p class="c5 c0"><span></span></p>
      <p class="c0"><span class="c1">Who is this application aimed at?</span></p>
      <p class="c0"><span>Primarily, this application is aimed at trainees who are learning the different steps in the process, and all the intricacies is holds. This tool is purely a reference guide and is not intended to replace the manual recalculations. To that end, trainees can use this to cross-check with scenarios they are given to make sure the are doing things correctly.</span></p>
      <p class="c0"><span>Additionally, it is to be used by official re-evaluators for them to cross-check and make sure their calculations line up with the tool, so any errors can be easily spotted and rectified in minimal time.</span></p>
 