 
	<p class="c2">
	<span class="c0">Runway View is the main view of the program. There is a visual representation 
	of the selected runway in the centre of the screen to give clear understanding of the location 
	of the obstacle and how recalculated runway looks like. Apart from runway itself, runway parameters 
	like TODA, ASDA,TORA,LDA and clearway are also shown on alongside with the values they correspond to.
	</span></p>
	
	<p class="c1"><span class="c0"></span></p>
	<p class="c2"><span class="c0 c3">Runway name</span></p>
	<p class="c2"><span class="c0">The name of the displayed runway is shown 
	in the top left corner of the application (09L/27R). </span></p>
	
	<p class="c1"><span class="c0"></span></p>
	<p class="c2"><span class="c3 c0">Changing runway View</span></p>
	<p class="c2"><span class="c0">There are 2 different way of how the runway can be displayed: 
	Top-down and side-on. By default the runway is displayed in the top-down view. The view can 
	be changed to side-on and back by pressing &ldquo;Top-down/side-on&rdquo; button which is located 
	right under the runway name in the top left corner of the program.</span></p>
	
	<p class="c1"><span class="c0"></span></p>
	<p class="c2"><span class="c3 c0">Threshold</span>
	<span class="c0">&nbsp;- Threshold can be changed by clicking the radio buttons that the located 
	on the top central side of the application labeled with the threshold it represents.</span></p>
	
	<p class="c1"><span class="c0"></span></p>
	<p class="c2"><span class="c3 c0">Recalculated &amp; Original parameters </span>
	<span class="c0">- shown on the right side of the application including TORA, TODA, ASDA, LDA.</span></p>
	
	<p class="c1"><span class="c0"></span></p>
	<p class="c2"><span class="c3 c0">Add &amp; Remove obstacle</span></p>
	<p class="c2"><span class="c0">Remove obstacle button is disabled if there is no obstacle on the runway.</span></p>
	
	<p class="c1"><span class="c3 c0"></span></p>
	<p class="c2"><span class="c3 c0">Breakdown of Calculations - </span>
	<span class="c0">can be accessed by clicking button in the bottom of the screen.</span></p>
	<p class="c1"><span class="c0"></span></p>
	<p class="c1"><span class="c0"></span></p>
	
	<br /><br />
	<!--you might use  .../raw/master.... in the URL to get the most up-to-date version of the resource :P-->
	<img src="https://bytebucket.org/seg_project/seg_project.bitbucket.org/raw/master/resources/mainrunwayview.png" height="436" width="601">
	<br />
	<ol type="1">
	  <li>The main view. Visualizes the runway and the calculated parameters, along with the current direction and chosen view.</li>
	  <li>Options about the current view. The direction can be swapped along with choosing the topdown/side on view.</li>
	  <li>Shows 2 sets of parameters. The recalculated ones if an obstacle is present and the original runway parameters for comparison.</li>
	  <li>Displays all the calculations for how the parameter values be derived. Also an option to print out the calculations</li>
	  <li>The main options menu from which you can access common operations such as:
			<ol type="a">
				<li>Adding/Viewing obstacles</li>
				<li>Access online help</li>
				<li>Rotate runway</li>
			</ol>
	  </li>
	  <li>Saves the current view of the runway as depicted by (1)</li>
	</ol>
 