 
	<p class="c0"><span>When the application first loads, you have 3 options.</span></p>
	<p class="c0 c2"><span></span></p>
	
	<p class="c0"><span class="c1">Create airport</span></p>
	<p class="c0"><span>This allows you to create an airport from scratch. 
	The purpose of creating an airport is purely to group runways together. 
	It provides no additional functionality.</span></p>
	
	<p class="c0 c2"><span></span></p>
	<p class="c0"><span class="c1">Load airport</span></p>
	<p class="c0"><span>Loads an airport from a previously created file. 
	This is useful when moving between systems a lot and need to take the data with you.</span></p>
	
	<p class="c0 c2"><span></span></p>
	<p class="c0"><span class="c1">Settings</span></p>
	<p class="c0"><span>From here, you can add/remove sets of 
	predefined data that the system can use as well as change colour schemes to suit your needs.</span></p>
	
	<p class="c0 c2"><span></span></p>
	<p class="c0"><span>If you have added predefined runways (such as ones used from a previous session) 
	these will appear in a drop down menu at the top of the screen for you to choose from.</span></p>

	<br /><br />
	<img src="https://bytebucket.org/seg_project/seg_project.bitbucket.org/raw/master/resources/startscreenview.png" height="310" width="481">
	<br />
	<ol type="1">
	  <li>Here are the options for airports saved on YOUR computer. From here you can create a new airport or load one from file.<br/>
		For loaded airports, you have the option to open them in the airport view, or to upload them online (if you are logged in) for use anywhere.</li>
	  <li>Here are the options for airports you have uploaded. From here, you can download the airport to your machine for use offline, delete the airport <br/>
	  entirely or open the airport in the airport view. To create a new airport here, create one offline and then upload it.</li>
	  <li>Access the in-depth online help, exit the application or edit application settings such as colour schemes or default file locations</li>
	</ol>
	
 